.card{
    width: 30%;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    flex: 0 0 30%;
}

.courseName{
    text-align: center;
    font-size: larger;
    margin-bottom: 1rem;
}

.instructorSelector{
}

.removeCourseButton{
    margin-top: 1rem;
}
