/* .App {
  text-align: center;
} */

.actions-bar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 10vh;
  text-align: center;
}

.action{
  margin-left: 1rem;
}

.variables-view{
  text-align: center;
  max-width: 50%;
}

.schedule{
  max-width: 45%;
  position: sticky;  
}

.schedule-variables-container{
  display: flex;
  justify-content: space-around;
  height: 300px;
}